.github
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
esbuild.mjs
node_modules/**
out/**
src/**
test
vsc-extension-quickstart.md
**/*.sketch